openapi: 3.0.1
info:
  title: FDP CDM OpenAPI
  description: Definitions for the FDP CDM
  version: 3.0.1
externalDocs:
  description: Palantir API Documentation
  url: https://www.palantir.com/docs
servers:
- url: https://solutionexchange.federateddataplatform.nhs.uk
paths:
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission:
    get:
      tags:
      - AdmissionApiService
      operationId: listAdmission
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/aggregate:
    post:
      tags:
      - AdmissionApiService
      operationId: computeAdmissionAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/count:
    post:
      tags:
      - AdmissionApiService
      operationId: computeAdmissionCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/search:
    post:
      tags:
      - AdmissionApiService
      operationId: searchAdmission
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/{primaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: getAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/{primaryKey}/links/patient:
    get:
      tags:
      - AdmissionApiService
      operationId: listAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Admission/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: getAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointment
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/aggregate:
    post:
      tags:
      - AppointmentApiService
      operationId: computeAppointmentAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/count:
    post:
      tags:
      - AppointmentApiService
      operationId: computeAppointmentCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/search:
    post:
      tags:
      - AppointmentApiService
      operationId: searchAppointment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/clinicLetter:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicLetterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/clinicLetter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicLetter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/clinicSession:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/patient:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/referral:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReferralResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/Appointment/{primaryKey}/links/referral/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Referral"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequest
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBookingRequestResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/aggregate:
    post:
      tags:
      - BookingRequestApiService
      operationId: computeBookingRequestAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/count:
    post:
      tags:
      - BookingRequestApiService
      operationId: computeBookingRequestCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/search:
    post:
      tags:
      - BookingRequestApiService
      operationId: searchBookingRequest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchBookingRequestResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/careProfessional:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/careProfessional/{linkedObjectPrimaryKey}
  : get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/careProfessionalPrimaryConsultant:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedCareProfessionalPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/careProfessionalPrimaryConsultant/{linkedObjectPrimaryKey}
  : get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedCareProfessionalPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/encounter:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEncounterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/encounter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Encounter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/patient:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/specialty:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedSpecialty
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSpecialtyResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/specialty/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedSpecialty
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Specialty"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/theatreBooking:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedTheatreBooking
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreBookingResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/theatreBooking/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedTheatreBooking
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreBooking"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/theatreSession:
    get:
      tags:
      - BookingRequestApiService
      operationId: listBookingRequestLinkedTheatreSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/BookingRequest/{primaryKey}/links/theatreSession/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: getBookingRequestLinkedTheatreSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessional
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/aggregate:
    post:
      tags:
      - CareProfessionalApiService
      operationId: computeCareProfessionalAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/count:
    post:
      tags:
      - CareProfessionalApiService
      operationId: computeCareProfessionalCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/search:
    post:
      tags:
      - CareProfessionalApiService
      operationId: searchCareProfessional
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}:
    get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/bookingRequest:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedBookingRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBookingRequestResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/bookingRequest/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedBookingRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/bookingRequestPrimaryConsultant:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedBookingRequestPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBookingRequestResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/bookingRequestPrimaryConsultant/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedBookingRequestPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/clinicSession:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}:
    get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/encounter:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEncounterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/encounter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Encounter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/patientPathway:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedPatientPathway
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientPathwayResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/patientPathway/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedPatientPathway
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatientPathway"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/procedures:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedProcedures
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProcedureResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/procedures/{linkedObjectPrimaryKey}:
    get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedProcedures
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Procedure"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/proceduresAsPrimary:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedProceduresAsPrimary
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProcedureResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/proceduresAsPrimary/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedProceduresAsPrimary
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Procedure"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/staffUnavailability:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedStaffUnavailability
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStaffUnavailabilityResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/staffUnavailability/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedStaffUnavailability
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaffUnavailability"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreBooking:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreBooking
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreBookingResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreBooking/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreBooking
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreBooking"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionAllAnaesthetists:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionAllAnaesthetists
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionAllAnaesthetists/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionAllAnaesthetists
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionAnaesthetist:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionAnaesthetist
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionAnaesthetist/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionAnaesthetist
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionsAllConsultants:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionsAllConsultants
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionsAllConsultants/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionsAllConsultants
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionsConsultant:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionsConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/theatreSessionsConsultant/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionsConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TheatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/userPreference:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedUserPreference
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserPreferenceResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/userPreference/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedUserPreference
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreference"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/validatedChangelog:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedValidatedChangelog
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListValidatedChangelogResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CareProfessional/{primaryKey}/links/validatedChangelog/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedValidatedChangelog
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidatedChangelog"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning:
    get:
      tags:
      - CdmModulePermissioningApiService
      operationId: listCdmModulePermissioning
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CdmModulePermissioningProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCdmModulePermissioningResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/aggregate:
    post:
      tags:
      - CdmModulePermissioningApiService
      operationId: computeCdmModulePermissioningAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/count:
    post:
      tags:
      - CdmModulePermissioningApiService
      operationId: computeCdmModulePermissioningCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/search:
    post:
      tags:
      - CdmModulePermissioningApiService
      operationId: searchCdmModulePermissioning
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCdmModulePermissioningResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/{primaryKey}:
    get:
      tags:
      - CdmModulePermissioningApiService
      operationId: getCdmModulePermissioning
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CdmModulePermissioningProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdmModulePermissioning"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/{primaryKey}/links/logLogEditCdmModulePermissioning:
    get:
      tags:
      - CdmModulePermissioningApiService
      operationId: listCdmModulePermissioningLinkedLogLogEditCdmModulePermissioning
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CdmModulePermissioningProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLogEditCdmModulePermissioningResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange-ontology-ontology/objects/CdmModulePermissioning/{primaryKey}/links/logLogEditCdmModulePermissioning/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CdmModulePermissioningApiService
      operationId: getCdmModulePermissioningLinkedLogLogEditCdmModulePermissioning
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
[...]
