openapi: 3.0.1
info:
  title: Palantir OpenAPI
  description: The Palantir REST API. Please see https://www.palantir.com/docs for
    more details.
  version: 3.0.1
externalDocs:
  description: API Documentation
  url: https://www.palantir.com/docs
servers:
- url: https://ptukhealth.palantirfoundry.co.uk
paths:
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmission
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/aggregate:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionComputeAdmissionAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/count:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionComputeAdmissionCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/search:
    post:
      tags:
      - AdmissionApiService
      operationId: admissionSearchAdmission
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.Admission"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/births:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedBirths
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListBirthResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/births/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedBirths
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Birth"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/consultantEpisodes:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedConsultantEpisodes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListConsultantEpisodeResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/consultantEpisodes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedConsultantEpisodes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.ConsultantEpisode"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/criticalCarePeriods:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedCriticalCarePeriods
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListCriticalCarePeriodResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/criticalCarePeriods/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedCriticalCarePeriods
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.CriticalCarePeriod"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/emed3fitNotes:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListEMed3FitNoteResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/emed3fitNotes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.EMed3FitNote"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/homeLeaves:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedHomeLeaves
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListHomeLeaveResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/homeLeaves/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedHomeLeaves
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.HomeLeave"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/labour:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListLabourResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/labour/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Labour"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/patient:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/scoredAssessments:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListScoredAssessmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/scoredAssessments/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.ScoredAssessment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/wardStays:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionListAdmissionLinkedWardStays
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListWardStayResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Admission/{primaryKey}/links/wardStays/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: admissionGetAdmissionLinkedWardStays
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission.WardStay"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointment
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/aggregate:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentComputeAppointmentAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/count:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentComputeAppointmentCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/search:
    post:
      tags:
      - AppointmentApiService
      operationId: appointmentSearchAppointment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.Appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/assignedCareProfessionals:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedAssignedCareProfessionals
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAssignedCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/assignedCareProfessionals/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedAssignedCareProfessionals
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.AssignedCareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicLetter:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListClinicLetterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicLetter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ClinicLetter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicSession:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListClinicSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ClinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/emed3fitNotes:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListEMed3FitNoteResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/emed3fitNotes/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedEmed3fitNotes
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.EMed3FitNote"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/patient:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/referral:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListReferralResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/referral/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.Referral"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/scoredAssessments:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentListAppointmentLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListScoredAssessmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Appointment/{primaryKey}/links/scoredAssessments/{linkedObjectPrimaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: appointmentGetAppointmentLinkedScoredAssessments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment.ScoredAssessment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessional
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAssignedCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/aggregate:
    post:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalComputeAssignedCareProfessionalAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/count:
    post:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalComputeAssignedCareProfessionalCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/search:
    post:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalSearchAssignedCareProfessional
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchAssignedCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalGetAssignedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.AssignedCareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/appointment:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessionalLinkedAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAppointmentResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/appointment/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalGetAssignedCareProfessionalLinkedAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedCareProfessional.Appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/careProfessional:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessionalLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/careProfessional/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalGetAssignedCareProfessionalLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedCareProfessional.CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/consultantEpisode:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessionalLinkedConsultantEpisode
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListConsultantEpisodeResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/consultantEpisode/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalGetAssignedCareProfessionalLinkedConsultantEpisode
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedCareProfessional.ConsultantEpisode"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/uecAttendance:
    get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalListAssignedCareProfessionalLinkedUecAttendance
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListUecAttendanceResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/AssignedCareProfessional/{primaryKey}/links/uecAttendance/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AssignedCareProfessionalApiService
      operationId: assignedCareProfessionalGetAssignedCareProfessionalLinkedUecAttendance
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.AssignedCareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignedCareProfessional.UecAttendance"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth:
    get:
      tags:
      - BirthApiService
      operationId: birthListBirth
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListBirthResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/aggregate:
    post:
      tags:
      - BirthApiService
      operationId: birthComputeBirthAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/count:
    post:
      tags:
      - BirthApiService
      operationId: birthComputeBirthCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/search:
    post:
      tags:
      - BirthApiService
      operationId: birthSearchBirth
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchBirthResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}:
    get:
      tags:
      - BirthApiService
      operationId: birthGetBirth
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.Birth"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/admission:
    get:
      tags:
      - BirthApiService
      operationId: birthListBirthLinkedAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/admission/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BirthApiService
      operationId: birthGetBirthLinkedAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Birth.Admission"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/labour:
    get:
      tags:
      - BirthApiService
      operationId: birthListBirthLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListLabourResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/labour/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BirthApiService
      operationId: birthGetBirthLinkedLabour
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Birth.Labour"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/patient:
    get:
      tags:
      - BirthApiService
      operationId: birthListBirthLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BirthApiService
      operationId: birthGetBirthLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Birth.Patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/pregnancy:
    get:
      tags:
      - BirthApiService
      operationId: birthListBirthLinkedPregnancy
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPregnancyResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/Birth/{primaryKey}/links/pregnancy/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BirthApiService
      operationId: birthGetBirthLinkedPregnancy
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BirthProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Birth.Pregnancy"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestListBookingRequest
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListBookingRequestResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/aggregate:
    post:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestComputeBookingRequestAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/count:
    post:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestComputeBookingRequestCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ontologies.CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/search:
    post:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestSearchBookingRequest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Ontologies.SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.SearchBookingRequestResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestGetBookingRequest
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.BookingRequest"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/careProfessional:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestListBookingRequestLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/careProfessional/{linkedObjectPrimaryKey}
  : get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestGetBookingRequestLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest.CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/careProfessionalPrimaryConsultant:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestListBookingRequestLinkedCareProfessionalPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/careProfessionalPrimaryConsultant/{linkedObjectPrimaryKey}
  : get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestGetBookingRequestLinkedCareProfessionalPrimaryConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest.CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/encounter:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestListBookingRequestLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListEncounterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/encounter/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestGetBookingRequestLinkedEncounter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingRequest.Encounter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/patient:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestListBookingRequestLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/Osdk.BookingRequestProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Osdk.ListPatientResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/palantirukhealth-ontology/objects/BookingRequest/{primaryKey}/links/patient/{linkedObjectPrimaryKey}:
    get:
      tags:
      - BookingRequestApiService
      operationId: bookingRequestGetBookingRequestLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
[...]
