openapi: 3.0.1
info:
  title: FDP CDM OpenAPI
  description: Definitions for the FDP CDM
  version: 3.0.1
externalDocs:
  description: Palantir API Documentation
  url: https://www.palantir.com/docs
servers:
- url: https://solutionexchange.federateddataplatform.nhs.uk
paths:
  /api/v2/ontologies/solution-exchange/objects/admission:
    get:
      tags:
      - AdmissionApiService
      operationId: listAdmission
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/admission/aggregate:
    post:
      tags:
      - AdmissionApiService
      operationId: computeAdmissionAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/admission/count:
    post:
      tags:
      - AdmissionApiService
      operationId: computeAdmissionCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/admission/search:
    post:
      tags:
      - AdmissionApiService
      operationId: searchAdmission
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAdmissionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/admission/{primaryKey}:
    get:
      tags:
      - AdmissionApiService
      operationId: getAdmission
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admission"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/admission/{primaryKey}/links/patient:
    get:
      tags:
      - AdmissionApiService
      operationId: listAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/admission/{primaryKey}/links/patient/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AdmissionApiService
      operationId: getAdmissionLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AdmissionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointment
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/aggregate:
    post:
      tags:
      - AppointmentApiService
      operationId: computeAppointmentAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/count:
    post:
      tags:
      - AppointmentApiService
      operationId: computeAppointmentCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/search:
    post:
      tags:
      - AppointmentApiService
      operationId: searchAppointment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAppointmentResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}:
    get:
      tags:
      - AppointmentApiService
      operationId: getAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/clinicLetters:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedClinicLetters
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicLetterResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/clinicLetters/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedClinicLetters
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicLetter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/clinicSession:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/patient:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/patient/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/referral:
    get:
      tags:
      - AppointmentApiService
      operationId: listAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReferralResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/appointment/{primaryKey}/links/referral/{linkedObjectPrimaryKey}
  : get:
      tags:
      - AppointmentApiService
      operationId: getAppointmentLinkedReferral
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/referral"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessional
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/aggregate:
    post:
      tags:
      - CareProfessionalApiService
      operationId: computeCareProfessionalAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/count:
    post:
      tags:
      - CareProfessionalApiService
      operationId: computeCareProfessionalCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/search:
    post:
      tags:
      - CareProfessionalApiService
      operationId: searchCareProfessional
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCareProfessionalResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}:
    get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CareProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/clinicSessions:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedClinicSessions
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/clinicSessions/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedClinicSessions
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/encounters:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedEncounters
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEncounterResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/encounters/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedEncounters
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/encounter"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/outpatientActivities
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedOutpatientActivities
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOutpatientActivityResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/outpatientActivities/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedOutpatientActivities
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/outpatientActivity"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/patientPathways:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedPatientPathways
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientPathwayResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/patientPathways/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedPatientPathways
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/patientPathway"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/procedures:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedProcedures
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProcedureResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/procedures/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedProcedures
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/procedure"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/proceduresAsPrimary
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedProceduresAsPrimary
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProcedureResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/proceduresAsPrimary/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedProceduresAsPrimary
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/procedure"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/specialty:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedSpecialty
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSpecialtyResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/specialty/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedSpecialty
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/specialty"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/staffUnavailabilities
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedStaffUnavailabilities
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStaffUnavailabilityResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/staffUnavailabilities/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedStaffUnavailabilities
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/staffUnavailability"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreBookings:
    get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreBookings
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreBookingResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreBookings/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreBookings
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/theatreBooking"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionAllAnaesthetists
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionAllAnaesthetists
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionAllAnaesthetists/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionAllAnaesthetists
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/theatreSession"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsAllConsultants
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionsAllConsultants
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsAllConsultants/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionsAllConsultants
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/theatreSession"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsAnaesthetist
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionsAnaesthetist
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsAnaesthetist/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionsAnaesthetist
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/theatreSession"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsConsultant
  : get:
      tags:
      - CareProfessionalApiService
      operationId: listCareProfessionalLinkedTheatreSessionsConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTheatreSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/careProfessional/{primaryKey}/links/theatreSessionsConsultant/{linkedObjectPrimaryKey}
  : get:
      tags:
      - CareProfessionalApiService
      operationId: getCareProfessionalLinkedTheatreSessionsConsultant
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/CareProfessionalProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/theatreSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter:
    get:
      tags:
      - ClinicLetterApiService
      operationId: listClinicLetter
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicLetterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/aggregate:
    post:
      tags:
      - ClinicLetterApiService
      operationId: computeClinicLetterAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/count:
    post:
      tags:
      - ClinicLetterApiService
      operationId: computeClinicLetterCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/search:
    post:
      tags:
      - ClinicLetterApiService
      operationId: searchClinicLetter
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchClinicLetterResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/{primaryKey}:
    get:
      tags:
      - ClinicLetterApiService
      operationId: getClinicLetter
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicLetter"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/{primaryKey}/links/appointment:
    get:
      tags:
      - ClinicLetterApiService
      operationId: listClinicLetterLinkedAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppointmentResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicLetter/{primaryKey}/links/appointment/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicLetterApiService
      operationId: getClinicLetterLinkedAppointment
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicLetter/{primaryKey}/links/patient:
    get:
      tags:
      - ClinicLetterApiService
      operationId: listClinicLetterLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPatientResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicLetter/{primaryKey}/links/patient/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicLetterApiService
      operationId: getClinicLetterLinkedPatient
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicLetterProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/patient"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession:
    get:
      tags:
      - ClinicSessionApiService
      operationId: listClinicSession
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/aggregate:
    post:
      tags:
      - ClinicSessionApiService
      operationId: computeClinicSessionAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/count:
    post:
      tags:
      - ClinicSessionApiService
      operationId: computeClinicSessionCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/search:
    post:
      tags:
      - ClinicSessionApiService
      operationId: searchClinicSession
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchClinicSessionResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}:
    get:
      tags:
      - ClinicSessionApiService
      operationId: getClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/appointments:
    get:
      tags:
      - ClinicSessionApiService
      operationId: listClinicSessionLinkedAppointments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppointmentResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/appointments/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSessionApiService
      operationId: getClinicSessionLinkedAppointments
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/careProfessional:
    get:
      tags:
      - ClinicSessionApiService
      operationId: listClinicSessionLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCareProfessionalResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/careProfessional/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSessionApiService
      operationId: getClinicSessionLinkedCareProfessional
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/careProfessional"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/clinicSlots:
    get:
      tags:
      - ClinicSessionApiService
      operationId: listClinicSessionLinkedClinicSlots
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSlotResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/clinicSlots/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSessionApiService
      operationId: getClinicSessionLinkedClinicSlots
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicSlot"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/clinicType:
    get:
      tags:
      - ClinicSessionApiService
      operationId: listClinicSessionLinkedClinicType
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicTypeResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSession/{primaryKey}/links/clinicType/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSessionApiService
      operationId: getClinicSessionLinkedClinicType
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSessionProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicType"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot:
    get:
      tags:
      - ClinicSlotApiService
      operationId: listClinicSlot
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSlotResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/aggregate:
    post:
      tags:
      - ClinicSlotApiService
      operationId: computeClinicSlotAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/count:
    post:
      tags:
      - ClinicSlotApiService
      operationId: computeClinicSlotCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/search:
    post:
      tags:
      - ClinicSlotApiService
      operationId: searchClinicSlot
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchClinicSlotResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/{primaryKey}:
    get:
      tags:
      - ClinicSlotApiService
      operationId: getClinicSlot
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClinicSlot"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/{primaryKey}/links/clinicSession:
    get:
      tags:
      - ClinicSlotApiService
      operationId: listClinicSlotLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicSessionResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSlot/{primaryKey}/links/clinicSession/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSlotApiService
      operationId: getClinicSlotLinkedClinicSession
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/clinicSession"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicSlot/{primaryKey}/links/ersServices:
    get:
      tags:
      - ClinicSlotApiService
      operationId: listClinicSlotLinkedErsServices
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListErsServiceResponse"
      security:
      - BearerAuth: []
  ? /api/v2/ontologies/solution-exchange/objects/clinicSlot/{primaryKey}/links/ersServices/{linkedObjectPrimaryKey}
  : get:
      tags:
      - ClinicSlotApiService
      operationId: getClinicSlotLinkedErsServices
      parameters:
      - name: primaryKey
        in: path
        required: true
        schema:
          type: string
      - name: linkedObjectPrimaryKey
        in: path
        required: true
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicSlotProperties"
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ersService"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicType:
    get:
      tags:
      - ClinicTypeApiService
      operationId: listClinicType
      parameters:
      - name: pageSize
        in: query
        description: |
          The desired size of the page to be returned. Defaults to 1,000.
          See [page sizes](/docs/foundry/api/general/overview/paging/#page-sizes) for details.
        required: false
        schema:
          type: integer
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
      - name: select
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: "#/components/schemas/ClinicTypeProperties"
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: excludeRid
        in: query
        description: "A flag to exclude the retrieval of the `__rid` property. \n\
          Setting this to true may improve performance of this endpoint for object\
          \ types in OSV2.\n"
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClinicTypeResponse"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicType/aggregate:
    post:
      tags:
      - ClinicTypeApiService
      operationId: computeClinicTypeAggregation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AggregateObjectsRequestV2"
        required: true
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicType/count:
    post:
      tags:
      - ClinicTypeApiService
      operationId: computeClinicTypeCount
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountObjectsResponseV2"
      security:
      - BearerAuth: []
  /api/v2/ontologies/solution-exchange/objects/clinicType/search:
    post:
      tags:
      - ClinicTypeApiService
      operationId: searchClinicType
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchObjectsRequestV2"
[...]
